/* import 'relative/path/to/stylesheet.scss'; */
* {
  font-family: 'Fira Code', monospace;
}

body {
  background-color: #000000;
}

.lightGreen {
  background-color: #2BE10E;
  color: #000000;
}

.margin-content {
  margin: 20px 30px;
}

.card-width {
  width: 19.5rem;
}

.card-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-img-top {
  height: 400px;
}
