/* import 'relative/path/to/stylesheet.scss'; */
* {
  font-family: "Roboto", sans-serif;
}

.card-width {
  width: 20rem;
}

.backGreyColor {
  background-color: #eaecef;
}

.card-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .card-flex {
    flex-direction: column;
  }
  #card-centered {
    margin: auto;
  }
}
